.form {
    max-width: 100%;
    margin: 2rem auto;
    text-align: center;
}

.form__title {
    font-size: 1.4rem;
    display: inline-block;
    padding: 1rem 4rem;
    background-image: url('../img/border-title.png');
    background-size: 140% 180%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    margin: 0 auto 3rem auto;
}

.form__content {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 2rem;
    border-radius: 5px;
    margin: 0 auto;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

input[type="text"],
input[type="number"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 40vw;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #00aa00;
}

button[type="reset"]:hover {
    background-color: #aa0000;
}

.prediction {
    margin-top: 3rem; /* Ajoutez une marge supérieure pour espacer la div prediction du formulaire */
    padding: 2rem;
}