.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__logo,
.header__nav,
.header__actions {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    max-width: 375px;
    height: auto;
}

.header__nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    white-space: nowrap;
}

.header__nav a {
    color: black;
    text-decoration: none;
    transition: font-size 0.3s ease;
    position: relative;
}

.header__nav li:hover {
    font-size: 120%;
    top: -20%;
}
.header__nav a:hover {
    color: #3199CB;
}

.header__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header__actions .header__button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}