.how-it-works {
    text-align: center;
    padding: 2rem 2rem;
    min-height: 85vh;
}

.how-it-works__title {
    margin-bottom: 3rem;
}

.how-it-works__title h2 {
    font-size: 1.75rem;
    margin-bottom: 0;
    display: inline-block;
    padding: 2rem;
    background-image: url('../img/border-title.png');
    background-size: 120% 190%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    width: auto;
    height: auto;
}

.how-it-works__steps {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.how-it-works__step {
    background-color: #D9D9D9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
}

.how-it-works__step img {
    width: 150px;
}

.how-it-works__step h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.how-it-works__step p {
    font-size: 0.95rem;
}

.bold {
    font-weight: 900;
}